<h1 mat-dialog-title>Detalles de solicitud {{ datosPasados.numero }}</h1>
<mat-dialog-content>  
  <div fxLayout="row" fxLayoutAlign="space-around center">
    
    <mat-form-field>
      <input matInput placeholder="Número solicitud" required>
    </mat-form-field>      
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-form-field fxFlex="35%">
      <input
        matInput
        placeholder="Fecha inicio"
        [matDatepicker]="picker">
      <mat-datepicker-toggle
        matSuffix
        [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="35%">
      <input
        matInput
        placeholder="Fecha Fin"
        [matDatepicker]="picker2">
      <mat-datepicker-toggle
        matSuffix
        [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div> 

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-form-field fxFlex="100%">
      <textarea matInput #detalleSolicitud maxlength="256" placeholder="Detalle Solicitud"></textarea>
      <mat-hint align="start">Describa la solicitud en detalle</mat-hint>
      <mat-hint align="end">{{detalleSolicitud.value.length}} / 256</mat-hint>
    </mat-form-field>
  </div>
     
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center">
  <button type="submit" mat-raised-button color="primary" [mat-dialog-close]="true">Aceptar</button>
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
</mat-dialog-actions>