<br>
<section fxLayoutAlign="center">    
  <mat-card   fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-title fxLayoutAlign="center center">Inicio de sesión</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline" fxLayoutAlign="center">
          <mat-label>Usuario</mat-label>
          <input type="usuario" 
            matInput 
            formControlName="usuario"            
            required>          
        </mat-form-field>
        <mat-form-field appearance="outline" hintLabel="Mínimo 6 caracteres">
          <mat-label>Contraseña</mat-label>
            <input type="password" 
            matInput 
            formControlName="password"
            required
            minlength="6"
            >           
          </mat-form-field>
          <br>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="column" fxLayoutAlign="center center">
          <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid"><mat-icon>home</mat-icon>Aceptar</button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</section>

