<br>
<section fxLayoutAlign="center">
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="formularioBusqueda" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <br>
      <mat-card-title>Búsqueda de ciudadano</mat-card-title>
      <br>
      <mat-card-content>
        <mat-form-field appearance="outline" fxLayoutAlign="center">
          <mat-label>NIF</mat-label>
          <input matInput formControlName="nif">
        </mat-form-field>
        <mat-form-field appearance="outline" fxLayoutAlign="center">
          <mat-label>Razón Social</mat-label>
          <input matInput formControlName="nombre">
        </mat-form-field>      
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Aceptar</button>
        <!-- <button type="button" mat-button (click)="onClean()">Limpiar</button> -->
      </mat-card-actions>
    </form>
  </mat-card>
</section>
<h3 align="center">Resultados de búsqueda:</h3>
<div fxLayoutAlign="center">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<section fxLayoutAlign="center">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef mat-header>Editar</th>
      <td mat-cell *matCellDef="let element">
        <button type="button" mat-button color="primary" routerLink="/ciudadanos/{{element.id}}"><mat-icon>edit</mat-icon></button></td>
    </ng-container>
    
    <ng-container matColumnDef="nif">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NIF</th>
      <td mat-cell *matCellDef="let element">{{ element.nif }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  </section>

    <div fxLayoutAlign="center">
      <mat-paginator [pageSize]="8" [pageSizeOptions]="[8, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>