a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a:active {
    color: lightgray;
  }
  
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-caption {
    display: inline-block;
    padding-left: 6px;
  }
  .spacer {
    flex: 1 1 auto;
  }