<!-- <mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span class="spacer"></span>
  <div fxHide.lt-md>
    <img src="assets\img\Cabecera_NG_SICAS.png">
  </div>
  <div fxHide.gt-sm class="nav-caption">
     NG-SICAS
  </div>
  <span class="spacer"></span>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>
        Usuario
      </li>
      <li>
        <a routerLink='/logout'><mat-icon color=warn>exit_to_app</mat-icon></a>
      </li>
    </ul>
  </div>
</mat-toolbar> -->

<mat-toolbar color="primary">

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <button mat-button 
      (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
      <div fxFlex="1 1 auto" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">NG CIUDADANO</div>      
    </div>      

      <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="row" fxLayoutAlign="center center" class="infoUsuario">
            <mat-label>Perfil: {{perfilTipo}}</mat-label>
              <mat-select [(value)]="perfilID">
                <mat-option (click)="onClick()" value=1>Usuario</mat-option>
                <mat-option (click)="onClick()" value=2>Gestor</mat-option>
                <mat-option (click)="onClick()" value=3>Administrador</mat-option>
              </mat-select>
              </div>
          <div fxHide fxShow.gt-xs></div>
          <button mat-icon-button
                  (click)="logout()"
                  label="Salir de la aplicación">
              <mat-icon>exit_to_app</mat-icon>
          </button>
      </div>
  </div>
</mat-toolbar>