<app-cabecera (sidenavToggle)="sidenav.toggle()"></app-cabecera>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <app-menu-lateral (closeSidenav)="sidenav.close()"></app-menu-lateral>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>