<mat-card>  
  <mat-card-content>
    <section fxLayoutAlign="center">
      <form #f="ngForm" [formGroup]="formulariociudadano" (ngSubmit)="onSubmit(f)">
        <br>
        <mat-card-title fxLayoutAlign="center">Nuevo ciudadano</mat-card-title>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field appearance="outline" fxFlex="20%">
            <mat-label><mat-icon>perm_identity</mat-icon>NIF</mat-label>
            <input matInput formControlName="nif" required>
          </mat-form-field>        
          <mat-form-field appearance="outline" fxFlex="60%">
            <mat-label>Nombre completo</mat-label>
            <input matInput  formControlName="nombre" required>
          </mat-form-field>
          <div fxLayoutAlign="end">
            <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>build</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button type="button" mat-menu-item>
                <mat-icon>assessment</mat-icon>
                <span>Informes</span>
              </button>              
              <button type="button" mat-menu-item>
                <mat-icon>perm_identity</mat-icon>
                <span>Cambiar NIF</span>
              </button>
              <button type="button" mat-menu-item>
                <mat-icon>block</mat-icon>
                <span>Desactivar</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Borrar</span>
              </button>
            </mat-menu>
          </div>
        </div>
            
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field appearance="outline" fxFlex="25%">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input  formControlName="fechaNacimiento" 
              matInput
              [matDatepicker]="picker">
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="15%">
            <mat-label>Sexo</mat-label>
            <mat-select  formControlName="sexo">
              <mat-option value="H">Hombre</mat-option>
              <mat-option value="M">Mujer</mat-option>
              <mat-option value="O">Otro</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="30%">
            <mat-label>País procedencia</mat-label>
            <mat-select  formControlName="pais">
              <mat-option value="option1">España</mat-option>
              <mat-option value="option2">Francia</mat-option>
              <mat-option value="option3">Italia</mat-option>
              <mat-option value="option1">Portugal</mat-option>
              <mat-option value="option2">Bélgica</mat-option>
              <mat-option value="option3">Marruecos</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>                
               <b>Datos de Domicilio</b> 
              </mat-panel-title>              
            </mat-expansion-panel-header>
            <div formGroupName="direccion">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" fxFlex="10%">
                  <mat-label>Tipo vía</mat-label>
                  <input matInput  formControlName="tipoVia">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50%">
                  <mat-label>Nombre vía</mat-label>
                  <input matInput  formControlName="nombreVia" required>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="15%">
                    <mat-label>Número</mat-label>
                    <input matInput  formControlName="numeroVia" required>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline">
                  <mat-label>Bis/Dup.</mat-label>
                  <mat-select  formControlName="bisDup">
                      <mat-option value="bis">Bis.</mat-option>
                      <mat-option value="dup">Dup.</mat-option>
                      <mat-option value=""></mat-option>                    
                  </mat-select>                  
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="10%">
                  <mat-label>Esc.</mat-label>
                  <input matInput  formControlName="escalera">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="10%">
                  <mat-label>Piso</mat-label>
                  <input matInput  formControlName="piso">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="10%">
                  <mat-label>Letra/Nº</mat-label>
                  <input matInput  formControlName="letraNumeroPuerta">
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" fxFlex="40%">
                  <mat-label>Provincia</mat-label>
                  <input matInput  formControlName="provincia" required>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="40%">
                  <mat-label>Municipio</mat-label>
                  <input matInput  formControlName="municipio" required>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" fxFlex="50%">
                  <mat-label>Localidad</mat-label>
                  <input matInput  formControlName="localidad">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="20%">
                  <mat-label>Código Postal</mat-label>
                  <input matInput  formControlName="codigoPostal" required>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
    
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Datos de Comunicación</b> 
              </mat-panel-title>              
            </mat-expansion-panel-header>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline">
                <mat-label><mat-icon>phone</mat-icon>Teléfono</mat-label>
                <input matInput  formControlName="telefono" required>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="40%">
                <mat-label><mat-icon>email</mat-icon>Email</mat-label>
                <input type="email" matInput  formControlName="email" email #emailInput="">
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="30%">
                <mat-label><mat-icon>language</mat-icon>Idioma de comunicación</mat-label>
                <mat-select  formControlName="idiomaComunicacion" required>
                    <mat-option value="option1">Español</mat-option>
                    <mat-option value="option2">Francés</mat-option>
                    <mat-option value="option3">Italiano</mat-option>
                    <mat-option value="option1">Portugués</mat-option>
                    <mat-option value="option2">Alemán</mat-option>
                    <mat-option value="option3">Árabe</mat-option>
                  </mat-select>
              </mat-form-field>
            </div>              
          </mat-expansion-panel>                    
      
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Solicitudes</b> 
            </mat-panel-title>            
          </mat-expansion-panel-header>
        <mat-table #table [dataSource]="dataSource">

          <!--- Estas columnas pueden ser definidas en cualquier orden.
                  El orden en el que se muestran se define en el campo displayedColumns del componente" -->

          <!-- Columna Número de solicitud -->
          <ng-container matColumnDef="numero">
            <mat-header-cell *matHeaderCellDef> Nº Solicitud </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.numero}} </mat-cell>
          </ng-container>
      
          <!-- Columna Fecha Inicio solicitud -->
          <ng-container matColumnDef="fecha_inicio">
            <mat-header-cell *matHeaderCellDef> Fecha inicio </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fecha_inicio}} </mat-cell>
          </ng-container>
      
          <!-- Columna Fecha Fin solicitud -->
          <ng-container matColumnDef="fecha_fin">
            <mat-header-cell *matHeaderCellDef> Fecha fin  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fecha_fin}} </mat-cell>
          </ng-container>

          <!-- columna "Editar" -->
          <ng-container matColumnDef="editar">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element" >
                  <button type="button" mat-button (click)="onEdit(element.id)"><mat-icon>edit</mat-icon></button>  
              </mat-cell>
          </ng-container> 
          
          <!-- columna "Borrar" -->
          <ng-container matColumnDef="borrar">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element" >
                <button type="button" mat-button (click)="onDelete(element.id)"><mat-icon>delete</mat-icon></button> 
              </mat-cell>
          </ng-container> 

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table> 
      </mat-expansion-panel>            
    </mat-accordion>
    <br>
    <div fxLayoutAlign="center">
      <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary">Aceptar</button>
    </div>
    <br>
  </form>
</section>
</mat-card-content>
</mat-card>