/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar {
  background: whitesmoke;
  color: rgba(0, 0, 0, 0.87);
}

.mat-toolbar.mat-primary {
  background: #286aba;
  color: white;
}
.mat-toolbar.mat-accent {
  background: #959494;
  color: black;
}
.mat-toolbar.mat-warn {
  background: #f44336;
  color: white;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #286ABA !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.3em 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 1em !important;
}
// controla el espacio para mostrar errores
.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: .25em 0 !important;
}

.mat-form-field-hide-placeholder div.mat-form-field-infix label.mat-form-field-label {
  top: 1.2em !important;
}

body, body div.contenido, fwempleo-contenido {
  background: white;
}

// Cabecera tablas
mat-header-row {
  min-height: 36px !important;
  background: #286ABA 0% 0% no-repeat padding-box !important;
  opacity: 1;
  letter-spacing: 0;
  font-size: 12px
}

mat-header-cell.mat-header-cell {
  color: #fff;
}

mat-card {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

mat-list-item.is-active {
  border-left: 3px solid #286ABA;
  background: #F8F8F8 0% 0% no-repeat padding-box;
  letter-spacing: 0;
  color: #286ABA !important;
}

mat-form-field.custom-label-select {
  margin-top: 5px;
}

.row-odd {
  background-color: #286ABA14;
}
